.container {
    width: 100vw;
    height: 100dvh;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.patrick {
    width: 200px;
    height: 200px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    cursor: pointer;
    user-select: none;
    object-fit: contain;
}